*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1 h2 h3 h4 h5 h6{font-size: inherit;font-weight: 400;}
/*******************************************************************/
header{
position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.Circle{
position: absolute;
width: 40px;
height: 40px;
left: 140px;
top: 15px;
}

.Left{
position: absolute;
width: 11.76px;
height: 11.76px;
left: 149.41px;
top: 30.29px;
}

.Right{
position: absolute;
width: 9.12px;
height: 5.91px;
left: 161.47px;
top: 30.29px;
}

.Toxin{
	position: absolute;
width: 53.19px;
height: 12.95px;
left: 192.5px;
top: 28.33px;
}

.Logo{
	position: absolute;
width: 105.69px;
height: 40px;
left: 140px;
top: 15px;
}
.back{
	position: absolute;
width: 1534px;
height: 1022px;
left: -47px;
top: -61px;

background: url(back.png);
}